:root {
  --my-special-color-dark: #B92126;
  --my-special-color-hover-dark: #ae191e;
  --my-special-color: #B92126;
  --my-special-color-hover: #ae191e;
}

header {
  height: 100px;
}

#skills h2:nth-child(even) {
  color: var(--my-special-color);
}

section .row img {
  width: 100%;
}

.text-main {
  color: var(--my-special-color);
}

.nav-link:hover {
  color: var(--my-special-color);
}


.btn {
  background-color: var(--my-special-color);
}
.btn:hover {
  background-color: var(--my-special-color-hover);
}

.btn-danger-color {
  background-color: var(--my-special-color);
}

.dark .text-main {
  color: var(--my-special-color-dark);
}
.dark .nav-link:hover {
  color: var(--my-special-color-dark);
}
.dark .btn {
  background-color: var(--my-special-color-dark);
}
.dark .btn:hover {
  background-color: var(--my-special-color-hover-dark);
}